# EmailAliases lets us cope with developers who use more than one address.
#
EmailAliases aliases

# EmailMap does the main work of mapping addresses onto employers.
#
EmailMap domain-map

# Use FileTypeMap to map a file types to file names using regular
# regular expressions.
#
FileTypeMap filetypes.txt
